<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="message/js/jquery.min.js"></script>
</head>
<body>

<input type="button" id="btn" value="提交">

</body>
</html>

<script>
    $(function () {
        methodTwo();
    });

    function methodTwo() {
        $("#btn").click(function () {
            $.ajax({
                url: 'json/show',
                type: 'post',
                data:  JSON.stringify({"id":12 ,"name":"张三","createDate":"2022-11-11 11:11:11"}),
                contentType: 'application/json;charset=UTF-8', //请求数据类型
                dataType:'json',  //返回数据类型 如果后端返回一个消息对象 这里为json
                success:function (data) {
                    alert(data);
                }
            })
        })
    }
</script>