<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应接口的全类名 -->
<mapper namespace="com.sgq.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.sgq.pojo.Goods">
        <id column="id" property="id" jdbcType="INTEGER"></id>
       <result property="name" column="name" jdbcType="VARCHAR"/>
       <result property="price" column="price"/>
       <result property="createTime" column="create_time"/>
    </resultMap>




</mapper>